section {
	padding:2em 0;
}

#savingsPotential .content .innerContent * {
  font-size: 12px;
}

#benchmarking .content .innerContent p {
  font-size: 12px;
}

#benchmarking .content .innerContent > .row-fluid div[class*="col"]:last-child p {
  font-size: 10px;
}


