#ads {
  .module {
    
    li {
      .slideContent {

        .content {
          width:50%;
        }
      }
    }
  }
}


.first {
	.module {
		.content {
			min-height:313px;
		}
	}
}

.col-sm-6 .col-xs-12 .innerContent div[class*="col"]{
  padding-left:0;
} 

#savingsPotential .content .innerContent h3 {
  font-size: 24px;
}