* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background-color: #d5d5d5;
}


.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
 .cf {
  *zoom: 1;
}


/* RESPONSIVE IMAGES */

img {
  max-width: 100%; // Make images inherently responsive
  height: auto; // Adds support for images whose dimensions are defined inline
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;

  .lt-ie9 & {
    width: auto;
  } 
}

/* MAIN */
.uiNav{
  float:right;
  margin-right: 10px;
  ul {
    padding: 0;
    margin: 0;
    a {
      &:hover{
        i {
          color:black;
        }
      }
      i {
        @include transition(.3s all);
        font-size: 18px;
        color:rgba(black, .4);
      }
    }
  }
  li {
    display: inline;
  }
}
.subnav {
  padding:10px 0 0 20px;
  background: white;
  .dropdown {
    float:left;
    border-bottom: solid 4px #88d201;
    display: inline-block;
    width:25%;
    .dropdown-menu {
      width:100%;
      top:144%;
      box-shadow:0 0 10px rgba(black, .5);
      padding:5px;
      &:before {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        bottom: 100%;
        left: 13px;
        border-width: 0 8px 8px 8px;
        border-style: solid;
        border-color: white transparent;
      }
      li {
        a {
          padding:10px;
          border-radius:3px;
          &:hover {
            background-color: $secondary;
            color:white;
          }
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    a {
      color:$primary;
    }
    .caret {
      right: 10px;
      position: absolute;
      top: 15px;
      border-top: 7px dashed;
      border-right: 7px solid transparent;
      border-left: 7px solid transparent;
    }
    a {
      font-size: 14px;
    }
    > a {
      font-size: 18px;
    }
  }
}
.nav-tabs > li:first-child {
  margin-left: 1em;
}
.nav-tabs > li > a {
  background: #d1d1d1;
  color:#616568;
  font-size: 12px;
}
.nav-tabs > li {
  width:45%;
  max-width:200px;
}

.innerContent {
  background: white;
  padding:15px;
}


.padding {
  padding: 0;
}
.first {
  .module {
    .content {
      .date {
        margin-bottom: 10px;
      }
    }
  }
}
.module {
  .tabpanel {
    margin-top: -10px;
  }
  .tab-content{

    border-bottom-right-radius:5px;
    border-bottom-left-radius:5px;

    background: white;
    hr{
      margin: 0;
    }
    ul {
      margin: 0;
      padding: 0;
      li {
        font-size: 12px;
        margin-bottom: 5px;
        &:last-child{
          margin-bottom: 0;
        }
        span {
          float:right;
          font-family: $bold;
        }
      }
    }
  }
  .tabContent {
    padding:1em;
  }
  .total {
    padding:.5em 1em;

    p {
      float:left;
      font-size: 12px;
      text-transform: uppercase;
    }
    h2 {
      float:right;
      margin: 0;
      padding: 0;
      font-family: $bold;
      font-size: 22px;
    }
  }
  .date {
    text-align: center;
    font-family: $bold;
    margin:0;
  }
  margin:15px 0;
  img {
    width:100%;
  }
  box-shadow: 0 5px 3px rgba(0,0,0,0.14);
  background: white;
  border-radius: 5px;
  background: #fff url(../../resources/img/bg-tile-blocktop-blue.gif) repeat-X top left;
  > h2 {
    span {
      width:86%;
      display: inline-block;
    }
    i {
      cursor:pointer;
      float:right;
      margin-top: 3px;
      @include transition(.3s all);
      &:hover {
        color:$secondary;
      }
    }
    margin: 7px 0 0 0;
    padding: 8px 12px;
    font: normal normal 18px 'seroundedregular';
    border-bottom: 1px solid #eaeaea;
    font-weight: bold;

  }
  .content {
    padding:1em;
    background: #f1f1f1;
    border-bottom-right-radius:5px;
    border-bottom-left-radius:5px;

  }
}

.greenButton {
  background: $green;
  color:white;
  padding:.5em 2em .5em .5em;
  display: inline-block;
  font-size: 13px;
  font-family:$bold;
  border-radius:90px;
  cursor:pointer;

  span{
    margin-right: .5em;
  }
  img{
    width:auto;
  }
  &:visited, &:active{
    color:white !important;
  }
  @include transition(.3s all);
  &:hover {
    background: darken($green, 10%);
    color:white;
  }
}

.flex-direction-nav a.flex-next:before{
  content: "\f0a9";
}
.flex-direction-nav a.flex-prev:before{
 content: "\f0a8";
}

.flex-direction-nav a:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 22px;
}

#ads {
  .module {
    .flex-control-nav {
      bottom:10px;
    }
    .flex-control-paging li a.flex-active {
      background: #33ae3a;
    }
    .flex-control-paging li a{
      background: white;
    }
    padding-top:7px;
    .slide-contain, .flexslider, .slideContent, .slides {
      border-bottom-right-radius:5px;
      border-bottom-left-radius:5px;

    }
    .content {
      padding: 0;
    }
    li {
      .slideContent {
        min-height:339px;

        background-size: cover;
        position: relative;
        .content {
          width:100%;
          position: absolute;
          right:0;
          height:100%;
          padding:4em 1em;
          
          /* IE9 SVG, needs conditional override of 'filter' to 'none' */
          background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIyJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ5JSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk4JSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
          background: -moz-linear-gradient(top,  rgba(0,0,0,1) 2%, rgba(0,0,0,1) 49%, rgba(0,0,0,0) 98%); /* FF3.6+ */
          background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,rgba(0,0,0,1)), color-stop(49%,rgba(0,0,0,1)), color-stop(98%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
          background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 2%,rgba(0,0,0,1) 49%,rgba(0,0,0,0) 98%); /* Chrome10+,Safari5.1+ */
          background: -o-linear-gradient(top,  rgba(0,0,0,1) 2%,rgba(0,0,0,1) 49%,rgba(0,0,0,0) 98%); /* Opera 11.10+ */
          background: -ms-linear-gradient(top,  rgba(0,0,0,1) 2%,rgba(0,0,0,1) 49%,rgba(0,0,0,0) 98%); /* IE10+ */
          background: linear-gradient(to bottom,  rgba(0,0,0,1) 2%,rgba(0,0,0,1) 49%,rgba(0,0,0,0) 98%); /* W3C */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 ); /* IE6-8 */

          h3, p {
            color:white;
          }
        }
      }
    }
  }
}

.button {
  color:white;
  border:solid 1px #138f15;
  border-radius:5px;
  padding:1em 2em;
  background: rgb(97,181,31); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIyJSIgc3RvcC1jb2xvcj0iIzYxYjUxZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk4JSIgc3RvcC1jb2xvcj0iIzRjOWYxYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(top,  rgba(97,181,31,1) 2%, rgba(76,159,27,1) 98%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,rgba(97,181,31,1)), color-stop(98%,rgba(76,159,27,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(97,181,31,1) 2%,rgba(76,159,27,1) 98%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(97,181,31,1) 2%,rgba(76,159,27,1) 98%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(97,181,31,1) 2%,rgba(76,159,27,1) 98%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(97,181,31,1) 2%,rgba(76,159,27,1) 98%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#61b51f', endColorstr='#4c9f1b',GradientType=0 ); /* IE6-8 */
  display: inline-block;
  &:hover {
    color:rgba(white, .5);
  }
}

#cost {
  .module {
    .content {
      padding: .5em 0 0;
    }
  }
}
#understanding {

  li {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    &:before {
      content: "\f105";
      margin-right: .5em;
      display: inline-block;
      color:#a0a0a2;
    }
  }
}
#weather {
  .weatherWeek {
    background: #ebebeb;
    padding:1em;
    border-bottom-right-radius:5px;
    border-bottom-left-radius:5px;

  }
  .location {
    p {
      margin: 0; 
      font-family: $bold;
      font-size: 18px;
    }
  }
  .current  {
    border-right: solid 1px $primary;
  }
  .feels {
    border-left: solid 1px $primary;
    margin-left:-1px;
    ul {
      li {
        font-size: 12px;
        span {
          float:right;
          font-family:$bold;
        }
      }
    }
  }
  .current {
    h3 {
      font-family: $bold;
      font-size: 65px;
      margin: 0;
      line-height: 1;
      span{
        display: inline-block;
        font-family: $body;
        font-size: 10px;
        margin: 0;
        line-height: 1;
      }
    }
  }
  .units {
    ul{
      margin: 0;
      padding: 0;
      float:right;
      li {
        display: inline;
        font-size: 12px;
        border-right:solid 1px $primary;
        padding:2px;
        cursor:pointer;
        font-family: $bold;
        color:$primary;
        &:last-child {
          border-right: 0;
        }
        &.active{
          color:$secondary;
        }
      }
    }
  }
}

#understanding, #greenButton, #weather {
  .module {
    .content {
      background: white;
    }
  }
}
.wrap {
  max-width: 1300px;
  margin:auto;
  &:before, &:after {
    content:"";
    display:table;
  }

  &:after {
    clear:both;
  }

}

/* Energy Star Benchmarking */
.score {
  display: table;
  padding:1em;
  text-align: center;
  .scoreContent {
    display: table-cell;
    vertical-align:middle;
    p{
      line-height:1;
    }
  }
  * {
    color:white;
    margin: 0;

  }
  h2 {
    font-size: 18px;
  }
  h3 {
    font-size: 52px;
    margin: 5px 0;
  }
  &.yellow {
    background-color: $yellow; 
  }
  &.green {
    background-color:$green;
  }
}

#benchmarking {
  .flex-viewport {
    width:100%;
    li {
      > .row-fluid {
        background-color: white;
      }
    }
  }
  a {
    p{
      @include transition(.3s all);

    }
    &:hover {
      p {
        color: black;
      }
    }
  }
  .date {
    margin:.5em 0;
  }
  .content {
    position: relative;
    padding: 0 0;
    .innerContent {

      p {
        font-size: 14px;
        margin: 0 0 5px;
      }
      > .row-fluid {
        margin-top: 10px;
        display: inline-block;
        div[class*="col"]{
          padding:0;
          &:last-child div:last-child{
            padding:0 0 0 5px;
            p {
              font-size: 10px;
              margin: 0;
            }
          }
        }
      }
    }
  }
}

#savingsPotential {
  .pad {
    padding:0 0 0 15px;
  }
  .button {
    font-size: 12px;
    padding:.5em 1em;
    text-align: center;

  }
  .stat {
    padding-right: 0;
    text-align: center;

  }
  .desc {
    text-align: left;
  }
  .row-fluid {
    margin-bottom: 5px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .date {
    margin:.5em 0
  }
  .grade {
    h3{
      color:$blue;
    }
  }
  .extra {
    text-align: center;
    h3{
      color:$red;
    }
  }
  h3 {
  margin: 0;
  font-family: $bold;
}
  .content {
    position: relative;
  padding: 0 0;
  .innerContent {
    padding:15px 0;
    * {
      font-size: 14px;
    }
    h3 {
      font-size: 20px;
    }
  }


  }
  .graph {
    padding:0 15px 0px 15px;
    .col-xs-4 {
      text-align: right;
    }
    div {
      padding:0;
      .bar {
        display: inline-block;
        float:left;
        span {
          color:white;
          font-size: 10px;
        }
        padding:5px;
      }
    }
  }
}



#peerUsage .bar{
  background-color: $dark;
}
#yourUsage .bar{
  background-color: $blue;

}

#efficientPeer .bar{
  background-color: $green;

}

/* FOOTER */

/* BUTTON */

.btn, a:visited.btn, button { 

  &:hover, &:focus {
  }
}



