// COLOR PALETTE
$primary: #7a7b80;
$secondary: #44b4e6;
$hover: #505050;
$neutral: #011F40;
$highlight: #306DB1;
$ultralight: #537FB1;
$link: red;
$green: #4cbb6f;
$yellow: #fdbf2d;
$blue: #1072bd;
$dark: #474747;
$red: #ba0007;

// FONT STACKS
$heading: 'seroundedmedium';
$body: 'seroundedregular';
$bold:'seroundedbold';